{% extends "AdminLTE/base.html" %}
{% load AdminLTE %}

{% block html_head_title %}{{ ALTE.REGISTER.PAGE_TITLE }}{% endblock %}

{% block html_head_post %}
  {% alte_load_plugin_css "iCheck/square/blue" %}
{% endblock html_head_post %}

{% block html_body_class %}register-page{% endblock %}

{% block html_body %}
<div class="register-box">
    <div class="register-logo">{% autoescape off %}{{ ALTE.REGISTER.LOGO }}{% endautoescape %}</div>
    <div class="register-box-body">
        <p class="login-box-msg">{% autoescape off %}{{ ALTE.REGISTER.MESSAGE }}{% endautoescape %}</p>
        {% if error %}
        <p class="login-box-msg text-red">{{ error }}</p>
        {% endif %}
        <form action="{{ ALTE.URL_REGISTER }}" method="{{ ALTE.REGISTER.FORM_METHOD }}">
            {% csrf_token %}
            {% for field in ALTE.REGISTER.FIELDS %}
            <div class="form-group has-feedback">
                <input type={{ field.type }} class="form-control" placeholder="{{ field.placeholder }}" name="{{ field.name }}"/>
                {% if field.glyphicon %}
                <span class="glyphicon glyphicon-{{ field.glyphicon }} form-control-feedback"></span>
                {% endif %}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-8">
                    {% if ALTE.URL_TERMS %}
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="agree_terms">{% autoescape off %} {{ ALTE.REGISTER.AGREE_TERMS_TEXT }} {% endautoescape %}
                        </label>
                    </div>
                    {% endif %}
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ ALTE.REGISTER.BTN_TEXT }}</button>
                </div><!-- /.col -->
            </div>
        </form>

        {% if ALTE.LOGIN.HAS_SOCIAL %}
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            {% for social in ALTE.LOGIN.SOCIALS %}
            <a href="{{ social.link }}" class="btn btn-block btn-social btn-flat btn-{{ social.name }}"><i class="fa fa-{{ social.name }}"></i>{% autoescape off %}{{ social.text }}{% endautoescape %}</a>
            {% endfor %}
        </div><!-- /.social-auth-links -->
        {% endif %}

        {% if ALTE.URL.LOGIN %}
        <a href="{{ ALTE.URL.LOGIN }}" class="text-center">{{ ALTE.REGISTER.LOGIN_LINK_TEXT }}</a>
        {% endif %}
    </div><!-- /.register-box-body -->
</div><!-- /.register-box -->
{% endblock html_body %}

{% block html_body_post %}
    {% alte_load_plugin_js "iCheck" %}
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
{% endblock html_body_post %}
