{% autoescape off %}
{% if item.is_header %}
<li class="header">{{ item.name }}</li>
{% else %}
<li class="{{ item.get_li_classes }}">
    <a href="{{ item.href }}">{{ item.get_icon }}{{ item.get_name }}{{ item.get_label }}</a>
    {% if item.has_children %}
    <ul class="treeview-menu">
        {% for child in item.get_children %}
            {% with item=child template_name="AdminLTE/widgets/page_sidebar/nav_menu_item.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endif %}
{% endautoescape %}
